{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">

    <h1>Step 2 of 2: Choose document type</h1>
    <div class="row mt-5">
        {% if uploaded_files %}
        <div class="col-md-4">
            <div class="row">
                {% for file in uploaded_files%}

                <figure class="figure">
                    <img src="{{ file.file.url }}" class="figure-img img-fluid rounded" alt="..." width="150">

                </figure>

                {% endfor%}
            </div>
            <div class="row">
                <a href="{% url 'upload' %}" class="btn btn-warning">Choose different photos</a>
            </div>

        </div>
        {% endif %}
        <div class="col-md-4">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Prepare photo</button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
        aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 50%"></div>
    </div>





</div>
{% endblock %}