{% extends 'base.html' %}
{% load static %}
{% load dict_lookup %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col" style="max-width: 300px;">
            <a href="{% url 'upload' %}" class="btn btn-warning">Choose another photo</a>
        </div>
        <div class="col" style="max-width: 300px;">
            <a href="{% url 'choose' %}" class="btn btn-info">Choose a different document</a>
        </div>
    </div>

    <br>
    <h1>Your photo is ready for download</h1>
    <div class="row mt-5">
        {% if prepared_images %}
        {% for file in prepared_images%}
        <div class="col" style="max-width: 300px;">
            <div class="container">
                <p>Prepared for: {{size|get_display_name:file.prepared_for}}</p>
                <p>Size: {{size|get_size:file.prepared_for}}</p>
                <p>Resolution (dpi): 300</p>
                <img src="{{ file.file.url }}" class="img-fluid" width="200">
            </div>
            <a href="{{ file.file.url }}" class="btn btn-success" download=""
                style="max-width: 150px; margin-top: 20px;">Download</a>

        </div>

        {% endfor%}
        {% endif %}
    </div>

</div>
{% endblock %}