{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <a href="{% url 'upload' %}" class="btn btn-warning">Choose another photo</a>
        </div>
        <div class="col">
            <a href="{% url 'choose' %}" class="btn btn-info">Choose a different document</a>
        </div>
    </div>

    <br>
    <h1>Your photo(s) is ready for download</h1>
    <div class="row mt-5">
        {% if prepared_images %}
        {% for file in prepared_images%}
        <div class="col">
            <p>Prepared for: {{prepared_for}}</p>
            <p>Size: {{size.0}} x {{size.1 }}</p>
            <p>Resolution (dpi): 300</p>
            <img src="{{ file.file.url }}" class="img-fluid" width="200">
            <a href="{{ file.file.url }}" class="btn btn-info" download="">Download</a>
        </div>

        {% endfor%}
        {% endif %}
    </div>
    <!-- <img src="{{ image.file.url }}" alt="{{ image.name }}" width="400"> -->


    <br>
</div>
{% endblock %}